<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3170ab58-d847-4f62-ae4e-e1d44fde9610" name="ServiceSoap12 TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3170ab58-d847-4f62-ae4e-e1d44fde9610fileName">ServiceSoap12-TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
