<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="399c5821-b635-47d3-8e0e-b6b27f9933ad" name="ServiceSoap TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="399c5821-b635-47d3-8e0e-b6b27f9933adfileName">ServiceSoap-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
